.main_content{
    height: 60vh;
    width: 100%;
}
.navbar{
    background-color: #0099CC;
 }

 .navbar li a{
    color:white;
    font-size: 20px;
}
.navbar li a:hover{
    color:black;
}
img{
    height: 60vh;
}
.margin-nav{
    margin-left: 100px;
}


.login_page{
    border:1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.card_category{
        text-decoration: none; 
        font-size: 16px;
        font-weight: 700; 
        color: black;
}
.card_category :hover{
    text-decoration: none; 
    font-size: 16px;
    font-weight: 700; 
    color: #0099CC;
}


.recent_product{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: 800;
    padding: 20px;
    text-align: center;
}
.card_new{
    width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
    display: block;
}
.card_new .card-header-product{
    width: 100%;
    height: 50px;
    background-color:#0099CC;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 16px;
}
.card-header-image{
    width: 100%;
    height: 300px;
}
.card-header-image img{
    width: 100%;
    height: 300px;
}
.card-header-fotter{
    width: 100%;
    height: 50px;
    background-color:#0099CC;
    font-size: 20px;
    font-weight: 500;
    color: white;  
}

.content_sec{
    padding: 20px;
    background-color: white;
}
.content_sec_img{
    width: 100%;
    height: 300px;
}
.content_sec_img img{
    width: 100%;
    height: 300px;
}
.prodeu_desc{
    width: 100%;
    height: auto;
    background-color: white;
}
.des_title{
    width: 100%;
    height: auto;
    background-color:#0099CC;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    padding: 10px;
    color: white;
}
.des_body{
    font-size: 20px;
    padding: 20px;
}
.headding{
    padding: 30px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}